/* Commun */
* ::before ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: Lato;
}
nav {
  background: #637d96;
}
.btnn {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border: none;
  background: #333;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: #fff;
}
.btnn a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
.animation::after {
  content: "";
  display: block;
  width: 0;
  margin: 2px auto 0 auto;
  height: 4px;
  border-radius: 2px;
  background: #000;
  transition: all 0.5s ease-out;
}
.animation:hover::after {
  width: 100%;
}
.hiden {
  display: none;
}
/* Home Page Mobile*/
.content-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
h1 a {
  text-decoration: none;
  color: #637d96;
}
.nav-link {
  font-size: 1.3rem;
}
.content-presentation,
.histoire,
.adresse {
  display: flex;
  min-width: 30em;
  flex-direction: column-reverse;
}
.presentation-img,
.histoire-img {
  min-height: 30em;
  background: url(./image/accueil.jpg);
  background-size: cover;
  background-position: center center;
}
.presentation-txt,
.histoire-txt,
.txt-adresse {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #637d96;
  color: #fff;
}
.presentation-txt h2,
.histoire-txt h2,
.txt-adresse h2 {
  margin-bottom: 2rem;
}
.presentation-txt p,
.histoire-txt p,
.txt-adresse p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.5px;
  font-style: justify;
}
.presentation-img img,
.histoire-img img,
.img-adresse img {
  width: 100%;
}
.content-partenaire {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 30em;
  background: #637d96;
  color: #fff;
}
.partenaire {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 3rem 2rem;
  border: 1px solid #fff;
  border-radius: 0.5em;
  margin-bottom: 1rem;
}
.title-secondaire {
  margin-bottom: 1rem;
}
.txt-partenaire {
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.5px;
  font-style: justify;
}
.btn-green {
  background: #28b487;
  transition: all 0.3s;
}
.btn-green:hover {
  transition: all 0.3s;
  background: #e0115f;
}
footer {
  background: #637d96;
  margin-top: 2rem;
  padding: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
}
footer p {
  font-size: 1.3rem;
}
/* Notre Histoire */
.histoire-img {
  background: url(./image/association.jpg);
  background-size: cover;
  background-position: center center;
}
/* Boarder Page */
.pensionaire,
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-style: justify;
}
.btn-red {
  background: #e0115f;
  transition: all 0.3s;
}
.btn-red:hover {
  transition: all 0.3s;
  background: #28b487;
}
/* Event Page  */
.don {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 2rem;
}
.image-don img,
.image-don-reverse img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.image-don,
.image-don-reverse {
  margin: 1.5rem 0;
}
.txt-don {
  background: #637d96;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.txt-don p {
  font-size: 1.3rem;
  font-style: justify;
  margin: 0 1rem;
  padding: 1.5rem 0;
}
/* Contact page */
.img-adresse {
  min-height: 30em;
  background-size: cover;
  background-position: center center;
}
.reseaux {
  width: 100;
  background: #637d96;
  color: #fff;
}
.reseaux-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-style: justify;
}
.reseaux-content i {
  margin: 0 0.5rem;
  color: #111;
  transition: all 0.4s;
}
.reseaux-content i:hover {
  margin-left: 1rem;
  color: #fff;
  transition: all 0.4s;
}
.contact {
  width: 80%;
  background: #637d96;
  margin: 5rem auto;
  padding-top: 2rem;
  height: 27rem;
}
.container-form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-form input {
  background: #fff;
  border: 0;
  border-bottom: 1px solid #555555;
  padding: 1rem;
  font-size: 1.5rem;
  color: #333;
  outline: 0;
  margin-bottom: 1rem;
  width: 80%;
}
.title {
  margin-bottom: 1.5rem;
}
.btn-submit {
  background: #28b487;
  transition: all 0.3s;
}
.btn-submit:hover {
  transition: all 0.3s;
  background: #e0115f;
}

/*Desctops */
@media screen and (min-width: 768px) {
  /* commun */
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer {
    padding: 1rem;
    font-size: 1rem;
  }
  /* home Page */
  .content-presentation {
    flex-flow: row nowrap;
    min-width: 60rem;
  }
  .presentation-img {
    flex: 1;
  }
  .presentation-txt {
    flex: 1;
    justify-content: center;
  }
  .content-partenaire {
    width: 80%;
    margin: auto;
  }
  /* History Page*/
  .histoire {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .histoire-img {
    height: 40rem;
  }
  .pensionaire {
    width: 80%;
    margin: auto;
  }
  .btn-red,
  .action {
    display: none;
  }
  /* Pensionaire Page */
  .card {
    width: 70%;
  }
  .card-img-top {
    height: 30rem;
  }
  .card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-style: justify;
  }
  /* Event Page */
  .don {
    display: flex;
    flex-direction: row;
  }
  .image-don,
  .image-don-reverse {
    margin: 0 1.5rem;
  }
  /* Contact Page */
  .adresse {
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
  .img-adresse img {
    height: 50em;
  }
  form {
    margin: auto;
  }
}
